node_modules/
dist/
build/
.env
.DS_Store
.vscode/
coverage/
npm-debug.log
yarn-error.log
.idea/
*.log

eteams-ser/
*.cjs
run-migration.js

# Ignore uploads contents but keep the folder
backend/uploads/*
!backend/uploads/.gitkeep
