API_URL=http://10.0.2.2:4000
SOCKET_URL=http://10.0.2.2:4000
# Note: 10.0.2.2 = localhost for Android emulator
# For iOS simulator or physical device, use your machine's LAN IP: http://192.168.x.x:4000
